@page  "/hakkinda"

<h2>Site Hakkında</h2>

<h4>KİTAP VERİTABANI SİTESİ</h4>
<p>Bu site <b>Emre Ertunç</b> tarafından Nesneye Yönelik Programlama Dönem ödevi olarak hazırlanmıştır.</p>
<p>Muğla Sıtkı Koçman Üniversitesi Teknoloji Fakültesi Bilişim Sistemleri Mühendisliği Programı </p>

<i><p>Emre Ertunç<br>Haziran 2020</p></i>


@code {

}