<div class="multiple-selector">
    <ul class="selectable-ul">
        @foreach (var item in NoSelected)
        {
            <li @onclick="@(() => Select(item))">@item.Value</li>
        }
    </ul>
    <div class="multiple-selector-buttons">
        <button type="button" class="btn btn-secondary oi oi-media-skip-forward"@onclick="HepsiniSec"></button>
        <button type="button" class="btn btn-secondary oi oi-media-skip-backward"@onclick="SecimiTemizle"></button>
    </div>
    <ul class="selectable-ul">
        @foreach (var item in Selected)
        {
            <li @onclick="@(() => Deselect(item))">@item.Value</li>
        }
    </ul>
</div>

@code {
    private string removeAllText = "";
    [Parameter]
    public List<MultipleSelectorModel> NoSelected { get; set; } = new List<MultipleSelectorModel>();
    [Parameter]
    public List<MultipleSelectorModel> Selected { get; set; } = new List<MultipleSelectorModel>();

    private void Select(MultipleSelectorModel item)
    {
        NoSelected.Remove(item);
        Selected.Add(item);
    }

    private void Deselect(MultipleSelectorModel item)
    {
        Selected.Remove(item);
        NoSelected.Add(item);
    }

    private void HepsiniSec()
    {
        Selected.AddRange(NoSelected);
        NoSelected.Clear();
    }

    private void SecimiTemizle()
    {
        NoSelected.AddRange(Selected);
        Selected.Clear();
    }
}
